@using Microsoft.AspNetCore.Html;
@model List<Appointment>
@{
    int pageIndex = (int)ViewData["PageIndex"]!;
    int totalPages = (int)ViewData["TotalPages"]!;
    string search = (string)ViewData["Search"]!;

    string column = (string)ViewData["Column"];
    string orderBy = (string)ViewData["OrderBy"];

    HtmlString getArrow(string tableColumn)
    {
        if (tableColumn != column) return new HtmlString(""); ;

        if (orderBy == "desc")
        {
            return new HtmlString("<i class='bi bi-arrow-down'></i>");
        }

        // return new HtmlString("&uarr;");
        return new HtmlString("<i class='bi bi-arrow-up'></i>");
    }
}

<script>
    function sortTable(column){
    let orderBy = "desc"

    let currentColumn ="@column";
    let currentOrder = "@orderBy";

    if(column === currentColumn){
    if(currentOrder == "asc") orderBy ="desc";
    else orderBy ="asc";
    }

    window.location.href="?search=@(search)&column="+column+"&orderBy="+orderBy
    }
</script>

<h2 class="text-center mb-5">List of Appointment</h2>

<div class="row mb-5">
    <div class="col">
        <a class="btn btn-primary" asp-controller="Appointments" asp-action="Create">
            <i class="fa-solid fa-plus"></i>
            Create New Appointment
        </a>
    </div>

    <div class="col">
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" name="search" value="@search" placeholder="Search by Name or Symptoms" aria-label="Search" />
            <button class="btn btn-sm btn-success" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </div>
</div>




<table class="table">
    <thead>
        <tr>
            <th style="cursor:pointer;" onclick="sortTable('Id')">ID @getArrow("Id")</th>
            <th style="cursor:pointer;" onclick="sortTable('Name')">Doctor @getArrow("Name")</th>
            <th style="cursor:pointer;" onclick="sortTable('Symptoms')">Patient @getArrow("Symptoms")</th>
            <th style="cursor:pointer;" onclick="sortTable('DoctorId')">Phone @getArrow("DoctorId")</th>
            <th style="cursor:pointer;">Reason</th>
            <th style="cursor:pointer;">Date and Time</th>
            <th style="cursor:pointer;">Status</th>
            <th style="cursor:pointer;" onclick="sortTable('CreatedAt')">Created At @getArrow("CreatedAt")</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var appointment in Model)
        {
            <tr>
                <td>@appointment.Id</td>


                <td>@(appointment.Doctor.Name)</td>

                @if(appointment.Patient != null)
                {
                    <td>@appointment.Patient.Name</td>
                    <td>@appointment.Patient.Phone</td>
                }
                @if (appointment.Patient == null)
                {
                    <td>@appointment.PatientName</td>
                    <td>@(appointment.Phone)</td>
                }
                
                <td>@(appointment.Reason)</td>
                <td>@appointment.AppointmentDateTime</td>
                <td>@appointment.Status</td>
                <td style="white-space:nowrap">
                    <a class="btn btn-primary btn-sm"
                       asp-controller="Products"
                       asp-action="Edit"
                       asp-route-id="@appointment.Id">
                        <i class="fa-solid fa-pen-to-square"></i>
                        Edit
                    </a>

                    <a class="btn btn-danger btn-sm"
                       asp-controller="Products" asp-action="Delete" asp-route-id="@appointment.Id"
                       onclick="return confirm('Are you sure?')">
                        <i class="fa-solid fa-trash-can"></i>
                        Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>


<div class="row">
    <div class="col d-flex justify-content-center">
        <nav aria-label="Page navigation example ">
            <ul class="pagination">
                @for (int i = 1; i <= totalPages; i++)
                {
                    string active = "";
                    if (i == pageIndex)
                    {
                        active = "active";
                    }

                    <li class="page-item @active">
                        <a class="page-link"
                           asp-route-pageIndex="@i"
                           asp-route-search="@search"
                           asp-route-column="@column"
                           asp-route-orderBy="@orderBy">@i</a>
                    </li>
                }

            </ul>

        </nav>
    </div>
</div>